/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {

    // Type
    h1,
    h2,
    h3,
    h4 {
      font-weight: 600 !important;
    }

    h1 {
      font-size: 22px !important;
    }

    h2 {
      font-size: 18px !important;
    }

    h3 {
      font-size: 16px !important;
    }

    // Spacing
    .content,
    .wrapper {
      padding: 10px !important;
    }

    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    // Buttons
    .btn table,
    .btn a {
      width: 100% !important;
    }
    .header-top h1{
      font-size: 14px !important;
    }
    .top-bl img{
      width: 35px !important;
    }
    .top-bl p{
      font-size: 12px !important;
    }
    .center-bl img{
      margin-left: 15px !important;
      //display: none !important;
    }
    .center-bl .btn-login-inner a{
      width: 80% !important;
      text-align: center !important;
      margin-left: 0 !important;
    }
    .bottom-bl .read{
      margin-top: 0!important;
    }
    .bottom-bl .read a{
      text-align: center;
    }
    .bottom-bl .link a{
      text-align: left !important;
      margin-left: 0;
    }
    .bottom-bl .read img{
      display: none !important;
    }
    .bottom-bl .read .btn{
      //display: none;
    }
  }
}
