---
layout: default.hbs
subject: Solomono
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="header-top">
            <h1 class="align-center">
                <b>«СОБСТВЕННЫЙ ИНТЕРНЕТ-МАГАЗИН </b><br>
                ЗА 1 МИНУТУ ЗА 1000 ГРН?»
            </h1>
              <p><img class="logo" src="http://solomono.net/images/email/logo.jpg" alt="Logo"></p>
          </td>
        </tr>
          <tr>
            <td>
                <table class="top-bl">
                    <tr>
                        <td>
                            <img src="http://solomono.net/images/email/ico_speed.png" alt="Speed"> <br>
                            <p>Мгновенный <br>запуск</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_incomes.png" alt="Incomes"> <br>
                            <p>Минимум <br>затрат</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_monitor.png" alt="Monitor"> <br>
                            <p>Высокая <br>скорость сайта</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_store.png" alt="Store"> <br>
                            <p>Собственный <br>магазин</p>
                        </td>
                    </tr>
                </table>
                </td>
              </tr>
          <tr class="center-bl">
              <td>
          {{> divider }}
            <!-- BEGIN DIVIDERS -->
                <p class="thks">Спасибо за Ваш заказ! Ваш интернет-магазин находится по адресу:</p><br>
                  <h3>Доступ в админ-панель:</h3>
                  <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0">
                      <tr>
                          <td>
                              <center style="max-width: 600px; width: 100%;">
                                  <p class="access">
                                      <img src="http://solomono.net/images/email/store-ico.png" alt="StoreIco"><a href="http://demo.solomono.net/admin">http://demo.solomono.net/admin</a><br>
                                      <img src="http://solomono.net/images/email/ico_email.png" alt="StoreIco"><span><b>Логин:</b> user@solomono.net</span> <br>
                                      <img src="http://solomono.net/images/email/ico_passwords.png" alt="StoreIco"><span><b>Пароль:</b> jd6ghdF!2s</span>
                                      <br>
                                      {{> button type='' align="center" inner="btn-login-inner" url='http://demo.solomono.net/admin' title='Войти в админ-панель!' }}
                                  </p>
                              </center>
                          </td>
                      </tr>
                  </table>

            {{> divider }}
                  </td>
          </tr>
          <tr class="bottom-bl">
              <td>
                      <h3>Рекомедовано к прочтению...</h3>
                      <img src="http://solomono.net/images/email/todo.jpg" alt="todo">
                      <!-- Desktop -->
                      <table class="read" >
                          <tr>
                              <td>
                                  <img class="img-ico" src="http://solomono.net/images/email/ico_idea.png" alt="idea">
                              </td>
                              <td class="link">
                                  <a style="display:inline-block; width:260px;" href="https://solomono.net/ru/instrukcii-t-23.html">Как начать работать с Solomono?</a><br>
                                  <span><img src="http://solomono.net/images/email/ico_timer.png" alt="timer"> Займет 60 сек.</span>
                              </td>
                              <td>
                                  {{> button type='' align="right" inner="btn-read-inner" url='https://solomono.net/ru/instrukcii-t-23.html' title='Читать сейчас!' }}
                              </td>

                          </tr>
                          <tr>
                              <td>
                                  <img class="img-ico" src="http://solomono.net/images/email/ico_product.png" alt="idea">
                              </td>
                              <td class="link">
                                  <a style="display:inline-block; width:260px;" href="https://solomono.net/ru/instrukcii-t-23.html?articles_id=105">Как добавить товар?</a> <br>
                                  <span><img src="http://solomono.net/images/email/ico_timer.png" alt="timer"> Займет 60 сек.</span>
                              </td>
                              <td>
                                  {{> button type='' align="right" inner="btn-read-inner" url='https://solomono.net/ru/instrukcii-t-23.html?articles_id=105' title='Читать сейчас!' }}
                              </td>

                          </tr>
                          <tr>
                              <td>
                                  <img class="img-ico" src="http://solomono.net/images/email/ico_category.png" alt="idea">
                              </td>
                              <td class="link">
                                  <a style="display:inline-block; width:260px;" href="https://solomono.net/ru/instrukcii-t-23.html?articles_id=111">Как настроить магазин?</a> <br>
                                  <span><img src="http://solomono.net/images/email/ico_timer.png" alt="timer"> Займет 60 сек.</span>
                              </td>
                              <td>
                                  {{> button type='' align="right" inner="btn-read-inner" url='https://solomono.net/ru/instrukcii-t-23.html?articles_id=111' title='Читать сейчас!' }}
                              </td>
                          </tr>
                      </table>
                  {{> divider }}
              </td>
          </tr>
          <tr>
              <td class="bottom-menu">
                  <!-- Menu -->
                <p>
                    <a href="https://solomono.net/ru/o-platphorme-a-93.html">О платформе</a>
                    <a href="https://solomono.net/ru/instrukcii-t-23.html">Инструкции</a>
                    <a href="https://solomono.net/ru/blog-t-22.html">Блог</a>
                    <a href="https://solomono.net/ru/portfolio.html">Портфолио</a>
                    <a href="https://solomono.net/ru/kontakty-a-76.html">Контакты</a>
                </p>


                  <!-- Menu end -->

                  <!-- Social btn -->
                  <div class="soc_btn">
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                  </div>
                  <!-- Social btn end -->

                    <p>This email was sent with by @ Solomono | 1B Vadym Hetman, Kiev, 03057</p>
                    <p class="bottom-text">
                        If you prefer to receive less frequent emails from us, you can <a href="#">set your preferences here</a>.
                        You can also manage your personal preferences here. If you no longer wnat to receive
                        any more messages from us, you can <a href="#">unsubscribe here</a>.
                    </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
      <tr>
          <td class="header-top">
              <h1 class="align-center">
                  <b>«СОБСТВЕННЫЙ ИНТЕРНЕТ-МАГАЗИН </b><br>
                  ЗА 1 МИНУТУ ЗА 1000 ГРН?»
              </h1>
              <p><img class="logo" src="http://solomono.net/images/email/logo.jpg" alt="Logo"></p>
              <p>
                  Остались вопросы? <br><b>Свяжитесь с нами: admin@solomono.net <br> +38 096 371-43-64</b>
              </p>
          </td>
      </tr>
  </table>
</div>
