---
layout: default.hbs
subject: Solomono
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td class="header-top">
            <h1 class="align-center">
                YOUR OWN <strong>BUSINESS?</strong> <br>
                VERY<strong> EASY!</strong> <br>
            </h1>
            <p class="logo"><strong><img src="http://solomono.net/images/email/logo.png" alt="">Solo</strong>Mono</p>
          </td>
        </tr>
          <tr>
            <td>
                <table class="top-bl">
                    <tr>
                        <td>
                            <img src="http://solomono.net/images/email/ico_speed.png" alt="Speed"> <br>
                            <p>Мгновенный <br>запуск</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_incomes.png" alt="Incomes"> <br>
                            <p>Минимум <br>затрат</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_monitor.png" alt="Monitor"> <br>
                            <p>Высокая <br>скорость сайта</p>
                        </td>
                        <td>
                            <img src="http://solomono.net/images/email/ico_store.png" alt="Store"> <br>
                            <p>Собственный <br>магазин</p>
                        </td>
                    </tr>
                </table>
                </td>
              </tr>
          <tr class="center-bl">
              <td>
          {{> divider }}
            <!-- BEGIN DIVIDERS -->
                <h3>Ваш интернет магазин</h3>
                  <a href="#"><img src="http://solomono.net/images/email/store-ico.png" alt="StoreIco">http://test_30123.solomono.net</a> <br>
                  <a href="#"><img src="http://solomono.net/images/email/ico_store.png" alt="StoreIco">http://test_30123.solomono.net/admin</a>
                  <br>
                  <br>

                  <h3>Ваш аккаунт</h3>
                  <p><img src="http://solomono.net/images/email/ico_email.png" alt="StoreIco">Ваш email: test_user@solomono.net</p>
                  <p><img src="http://solomono.net/images/email/ico_passwords.png" alt="StoreIco">Ваш пароль: jd6ghdF!2s</p>
                  <br>
                  {{> button type='' align="center" inner="btn-login-inner" url='#' title='Вход в админ-панель' }}

            {{> divider }}
                  </td>
          </tr>
          <tr class="bottom-bl">
              <td>
                  <a href="#">
                      <h3>Рекомедовано к прочтению...</h3>
                      <img src="http://solomono.net/images/email/todo.jpg" alt="todo"> <br>
                      <!-- Desktop -->
                      <table class="read">
                          <tr>
                              <td>
                                  <img class="img-ico" src="http://solomono.net/images/email/ico_idea.png" alt="idea">
                              </td>
                              <td>
                                  <p>Как начать работать с Solomono?</p>
                              </td>
                              <td>
                                  {{> button type='' align="right" inner="btn-read-inner" url='#' title='Читать сейчас!' }}
                              </td>

                          </tr>
                      </table>
                      <!-- Mob -->
                      <table class="read-mob">
                          <tr>
                              <td>
                                  <p><img class="img-ico" src="http://solomono.net/images/email/ico_idea.png" alt="idea">Как начать работать с Solomono?</p>
                                  {{> button type='' align="center" inner="btn-read-inner" url='#' title='Читать сейчас!' }}
                              </td>
                          </tr>
                      </table>
                  </a>
                  {{> divider }}
              </td>
          </tr>
          <tr class="last-bl">
              <td>
                  <h4>Что дальше...</h4>
                  <table >
                      <tr>
                          <td><img src="http://solomono.net/images/email/ico_product.png" alt="Product"></td>
                          <td>
                              <p>
                                  Добавьте товары, которые хотите продать <br>
                                  <span><img src="http://solomono.net/images/email/ico_timer.png" alt="timer"> Займет 60 сек.</span>
                              </p>

                          </td>
                          <td>{{> button type='secondary' url='#' inner="btn-add" align="right"  title='Добавить товар' }}</td>
                      </tr>
                      <tr>
                          <td><img src="http://solomono.net/images/email/ico_category.png" alt="Category"></td>
                          <td>
                              <p>
                                  Добавьте категории для товаров <br>
                                  <span><img src="http://solomono.net/images/email/ico_timer.png" alt="timer"> Займет 60 сек.</span>
                              </p>
                          </td>
                          <td>{{> button type='secondary' url='#' inner="btn-add" align="right" title='Добавить категорию' }}</td>
                      </tr>
                  </table>
                  {{> divider }}
              </td>
          </tr>
          <tr>
              <td class="bottom-menu">
                  <!-- Menu -->
                  <table>
                      <tr>
                          <td><a href="#">Portfolio</a></td>
                          <td><a href="#">About Platform</a></td>
                          <td><a href="#">Theme Store</a></td>
                          <td><a href="#">Instructions</a></td>
                          <td><a href="#">Contact Experts</a></td>
                          <td><a href="#">Blog</a></td>
                      </tr>
                  </table>
                  <!-- Menu end -->

                  <!-- Social btn -->
                  <div class="soc_btn">
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                      <a href="#"><img src="" alt=""></a>
                  </div>
                  <!-- Social btn end -->

                    <p>This email was sent with by @ Solomono | 1B Vadym Hetman, Kiev, 03057</p>
                    <p>
                        If you prefer to receive less frequent emails from us, you can <a href="#">set your preferences here</a>.
                        You can also manage your personal preferences here. If you no longer wnat to receive
                        any more messages from us, you can <a href="#">unsubscribe here</a>.
                    </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
      <tr>
          <td class="header-top">
              <h1 class="align-center">
                  YOUR OWN <strong>BUSINESS?</strong> <br>
                  VERY<strong> EASY!</strong> <br>
              </h1>
              <p class="logo"><strong><img src="http://solomono.net/images/email/logo.png" alt="">Solo</strong>Mono</p>
          </td>
      </tr>
  </table>
</div>
